# Secret Key
JWT_SECRET_KEY=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_HOST=db
DB_PORT=5432
# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Google Auth
GOOGLE_OAUTH_CLIENT_ID= 
GOOGLE_OAUTH_CLIENT_SECRET=

# Redirect Oauth Url
REDIRECT_OAUTH_URI=