# Secret Key
JWT_SECRET_KEY=
SESSION_SECRET_KEY=

# APP HOST
APP_HOST=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_HOST=db
DB_PORT=5432
DB_DRIVER=
DB_DRIVER_ASYNC=
# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Google Auth
GOOGLE_OAUTH_CLIENT_ID= 
GOOGLE_OAUTH_CLIENT_SECRET=

# Redirect Oauth Url
REDIRECT_OAUTH_URI=

JWT_ALGORITHM=HS256

# Live Time Tokens
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# Playwright Browser
PLAYWRIGHT_WS_PORT=3000

# Urls For Cors
CORS_ORIGIN_URLS = []

# example PARSING_BOOK_COMMAND = ["docker", "exec", "container_name", "python", "manage.py", "--file", "{{input_file}}", "--log-mode", "--save", "{{output_file}}"]
PARSING_BOOK_COMMAND = []